# Web Hooks

<%= partial "includes/api/json_snippets/post_webhook_received_notification.md" %>
<%= partial "includes/api/json_snippets/post_webhook_shipped_notification.md" %>

Based on your opt-in preferences for various events, the API will POST back
to your Web Hook URL. The web hook url and settings are available in your
profile, see the <https://api.mwwondemand.com/account/> page.

The `url` (string) must be a valid URL (an API endpoint you host) and the
`enabled` (boolean) setting must be checked.

First login, then visit <https://api.mwwondemand.com/account/user/webhooks> to
edit your Web Hooks (opt-in) preferences.

- The `enabled` checkbox must be `checked` in order to receive POST notifications.
- Check the various events that you would like to receive notifications for.

| |Events for Orders||
--|---------|---------|
| |<button onclick = "activateLanguage('shell')">Received</button>|<button onclick = "activateLanguage('ruby')">Shipped</button>

Attributes ||
--------- | ------- | -----------
data <br><em>object</em> | The root element of your JSON post object.
type <br><em>string</em> | Resource the object represents.
attributes <br><em>object</em> | The object that contains all the pertanent information about the order.
timestamp <br><em>string</em> | Time order was shipped/recieved.
tracking-numbers <br> <em>object</em> | Array of tracking numbers for your order
enabled <br><em>boolean</em> | Pause notifications by setting false.
meta <br><em>object</em> | Array of status of all items in your order.
received <br><em>int</em> | Number of recieved items
shipped <br><em>int</em> | Number of shipped items
cancelled <br><em>int</em> | Number of cancelled items
printed <br><em>int</em> | Number of printed items
pressed <br><em>int</em> | Number of pressed items
cut <br><em>int</em> | Number of cut items
sewn <br><em>int</em> | Number of sewn items
turned <br><em>int</em> | Number of turned items
packed <br><em>int</em> | Number of packed items




To the right is an example JSON payload for a POST notification sent after an
order is received.
